.img{
    height: 50px;
    width: 100%
}
.container-fluid{
    background: #fff;
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    display: block;
    position: relative;
    z-index: 1010;
}
.navbar-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
    width: 50%;
}
.header-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.navigation-header{
    display: flex;
    box-sizing: border-box;
    height: 65px;
    max-width: 1440px;
    margin: auto;
    position: relative;
    z-index: 1011;   
}
.navbar-brand-search{
    width: 80%;
}
.search{
    margin-left: 50px;
    width: 80% !important;
    background-color:#ececec;
    border-radius: 0;
    border: 0px ;
}
.search:focus {
    box-shadow: none!important;
    background-color: #ececec;
}
.btn-search{
  
    color: #ec5252 !important;
    background-color:#ececec;
    border-radius: 0;
    border: none;
    padding-top: 7px;

}
.btn:focus {
    outline: 0;
    box-shadow: none!important;
}
.navbar-brand-udemy-business{
    font-size: 13px;
    margin: 0 2px;
    padding: 10px 0;
}
.udemy{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid transparent;
    color: #505763;
    font-weight: 400;
    height: 45px;
    line-height: 20px;
    padding: 12px 15px;
}

.udemy:hover{
    background-color: #ececec;
    border: solid 1px #dbdada;
    text-decoration: none;
    color: #505763;
}
.fontawsome{
    vertical-align:4%;
    margin-right: 5px;
    color: #8a92a3;
}
.divide{
    height: 60%;
    border-left: 1px solid #dedfe0;
    margin: 0 8px;
}
.cart{
    font-size: 13px;
    margin: 0 2px;
    padding: 10px 0;
}
.cart:hover{
    background-color: #ececec;
    border-radius: 50% ;
    border: solid 1px #dbdada;
    color: #505763;
}
.font{
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
    color: #8a92a3;
}
.login{
    font-size: 13px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 0;
}
.btn-quaternary{
    color: #b1b1b1;
    background-color: #fff;
    border: 1px solid #bbbaba;
    font-weight: 600
}
.btn-quaternary:hover {
    color: #5c5c5c;
    background-color: #fff;
    border: 1px solid #5c5c5c;
}
.signup{
    font-size: 13px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 0;
}
.btn-primary{
    color: #fff;
    background-color: #ec5252;
    border: 1px solid transparent;
}
.btn-primary:hover{
    background-color: #b97c7c;
    border: 1px solid #b97c7c;
}
span{
    color: #505763;
    text-decoration: none !important;
}
.dropdown-button .dropdown-toggle .btn .btn-primary{
    color: #505763;
}