.user-auther {
    display: inline-block;
    position: relative;
    max-width: 100%;
}
.user-auther--image {
    border-radius: 50%;
    object-fit: cover;
}
img {
    border: 0;
    vertical-align: middle;
    width: 50%;
    height: 84px;
    width: 84px;
}
.card-image{
    margin-bottom:20px;
    margin-top: 20px;
}
.card-title{
    margin-bottom:6px;
    margin-top: 6px;
}
.card {
    background: white;
  }
.card:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
  }

.title h5{
    color: grey;
    margin-top: 30px;
    margin-bottom:15px;
}