
.card-image{
    margin-bottom:20px;
    margin-top: 20px;
}
.card-title{
    margin-bottom:8px;
    margin-top: 8px;
}
.card {
    background: white;
  }
.card:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
  }
.title h5{
    color: grey;
    margin-top: 30px;
    margin-bottom:15px;
}
.card-topic{
    margin-bottom:30px;
    margin-top: 15px; 
}
.col-sm-3{
    margin-top: 5px;
    margin-bottom:5px;
}
.topic{
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    color: rgb(71, 71, 71);
}
.topic:hover{
    color: #007791;
}